<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${project}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="c:\windows\system32\cmd.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="/C taskkill /IM openocd-0.6.1.exe /F &amp; &quot;${eclipse_home}/../openocd-0.6.1/bin/openocd-0.6.1.exe&quot; -f interface/stlink-v2.cfg -f target/stm32f4x_stlink.cfg -c &quot;init&quot; -c &quot;reset halt&quot; -c &quot;echo {chargement du programme Debug/${project_name}.bin en memoire, patientez...}&quot; -c &quot;flash write_image erase {${project_loc}/Debug/${project_name}.bin} 0x08000000&quot; -c &quot;reset&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc}"/>
</launchConfiguration>
