# Document de configuration du logiciel EVE
# 
# Auteur : François EVEN
#
# Version Alpha

# Determination des zones de data
# paramètre 1 position dans la fenêtre [1 à 9]
# paramètre 2 Type de data à visualiser
# paramètre 3 Information supplémentaire [à O oar défaut]

#Configuration carte actionneurs
$CARTE 0
$USE 1 STEP_MOTOR 0
$USE 2 SERVO      0
$USE 3 QEI        0
$USE 4 EXTERN_IT  0
$USE 5 DCM        0
$USE 6 AX12       0
$USE 7 ADC        1
$USE 8 PWM 	  1
$USE 9 PWM        2

#Configuration carte propulsion
$CARTE 1
$USE 1 STEP_MOTOR 0
$USE 2 SERVO      0
$USE 3 QEI        0
$USE 4 EXTERN_IT  0
$USE 5 DCM        0
$USE 6 AX12       0
$USE 7 ADC        1
$USE 8 PWM 	  1

#Configuration carte strategie
$CARTE 2
$USE 1 STEP_MOTOR 0
$USE 2 SERVO      0
$USE 3 QEI        0
$USE 4 EXTERN_IT  0
$USE 5 DCM        0
$USE 6 AX12       0
$USE 7 ADC        1
$USE 8 PWM 	  1


#Configuration carte supervision
$CARTE 3
$USE 1 STEP_MOTOR 0
$USE 2 SERVO      0
$USE 3 QEI        0
$USE 4 EXTERN_IT  0
$USE 5 DCM        0
$USE 6 AX12       0
$USE 7 ADC        1
$USE 8 PWM 	  1


#Configuration carte balises
$CARTE 4
$USE 1 STEP_MOTOR 0
$USE 2 SERVO      0
$USE 3 QEI        0
$USE 4 EXTERN_IT  0
$USE 5 DCM        0
$USE 6 AX12       0
$USE 7 ADC        1
$USE 8 PWM 	  1


$END_OF_FILE

