# Document de configuration du logiciel EVE
# 
# Auteur : Julien Franchineau
#
# Version Alpha

# Codes utilisés
# 0 indique un code inutilisé pendant la simulation
# 1 indique un code utilisé pendant la simulation

$USE ACTIONNEURS 0
$USE BALISES     0
$USE PROPULSION  0
$USE STRATEGIE   1
$USE SUPERVISION 0

$END_OF_FILE

