# Document de configuration du logiciel EVE
# 
# Auteur : François EVEN
#
# Version Alpha

# Messages prédéfinis pour l'envoi par utilisateur
# paramètre 1 description du message (Warning: pas d'espace dans la description)
# paramètre 2 message CAN à envoyer

$USE go_robot 01 02 21 01 04 FF FF FF FF FF FF 02 04

$END_OF_FILE

